
/// PICTURE PAGE

.PicturePage_ctn
    margin-top: 5vh
    flex: none
    scroll-snap-align: center
    height: 100vh
    width: 100%
    background-color: #1e1e1e

.PicturePage
    height: 100%
    width: 100%
    display: flex
    align-items: center
    justify-content: center

.picture
    height: 100%
    width: 100%
    position: absolute

.pic_svg
    position: absolute
    height: 100%
    width: 100%

.left
    width: 27.5vw
    height: 27.5vw
    position: relative
    // background-color: red
    margin-right: 5vw

.right
    opacity: 0
    // padding-left: 5vw
    // height: 100vh

.ptr_title
    // margin-top: 64px
    font-size: 48px
    font-family: WorkSansSemibold
    color: #F2C964

.ptr_subtitle
    font-family: WorkSansSemibold
    color: #eee
    font-size: 20px
    margin: 12px 0px 24px 0px

.ptr_text
    color: #eee
    width: 600px
    font-size: 16px
    line-height: 36px
    font-family: WorkSansRegular
