/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.df {
	display: flex;
}

.fd-col{
	display: flex;
	flex-direction: column;
}

.fd-row{
	display: flex;
	flex-direction: row;
}

.jc-b{
	justify-content: space-between;
}
.jc-e{
	justify-content: space-evenly;
}
.jc-a{
	justify-content: space-around;
} */

@font-face {
  font-family: "MatrixMono";
  src: url("../../../fonts/MatrixMono.ttf");
}
@font-face {
  font-family: "Pixelify";
  src: url("../../../fonts/PixelifySans.ttf");
}

@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;

  --animate-top-scroll: tscroll 30s linear infinite;
  --animate-bottom-scroll: bscroll 30s linear infinite;

  --color-primary: oklch(49.1% 0.27 292.581); /*violet-700*/
  --color-dark: oklch(20.5% 0 0); /*neutral-950*/

  @keyframes tscroll {
    0% {
      margin-top: 0;
    }
    100% {
      margin-top: calc(-200% - 18.5em);
    }
  }
  @keyframes bscroll {
    0% {
      margin-top: calc(-200% - 18.5em);
    }
    100% {
      margin-top: 0%;
    }
  }
}
.btn_beige {
  @apply border-red-100 hover:border-red-100 bg-red-100 hover:bg-neutral-900 text-neutral-900 hover:text-red-100 min-w-[160px];
}
.btn_norep {
  @apply border-red-100 hover:border-neutral-900 bg-neutral-900 hover:bg-neutral-900 text-red-100 hover:text-neutral-900;
}
/* .md-pattern {
  @apply max-md:bg-[url(./src/image/patterns/pattern.png)] max-md:bg-no-repeat;
} */

.pattern {
  @apply bg-[url(./src/image/patterns/pattern.png)] bg-no-repeat bg-right bg-cover;
}
.md-pattern {
  @apply md:bg-[url(./src/image/patterns/pattern.png)] md:bg-no-repeat md:bg-right md:bg-cover;
}
.pattern-3 {
  @apply bg-[url(./src/image/patterns/pattern5.png)] bg-repeat bg-left ;
}

@layer utilities {
  .diagonal {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%, 30% 0%);
  }
  .diagonal2 {
    clip-path: polygon(100% 0, 0 0, 0 100%, 0 100%, 30% 0%);
  }
  .diagonal3 {
    clip-path: polygon(100% 0%, 80% 100%, 0% 100%, 0% 100%, 0% 0%);
  }
  .grid_custom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: masonry;
    /* grid-template-columns: repeat(12, 20px);
    grid-template-rows: repeat(38, 20px); */
  }
  .t1 {
    margin-top: calc(-200% - 18.5em);
  }
}
/* :root{
	--c-primary: 
} */
