@font-face {
  font-family: "MatrixMono";
  src: url("../../../fonts/MatrixMono.ttf");
}
@font-face {
  font-family: "Pixelify";
  src: url("../../../fonts/PixelifySans.ttf");
}

@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;

  --color-primary: oklch(49.1% 0.27 292.581); /*violet-700*/
  --color-dark: oklch(20.5% 0 0); /*neutral-950*/

}
/* .md-pattern {
  @apply max-md:bg-[url(./src/image/patterns/pattern.png)] max-md:bg-no-repeat;
} */


/* @layer utilities {
  .diagonal {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%, 30% 0%);
  }
} */

/* :root{
	--c-primary: 
} */
