
.root
    width: 100vw
    height: 100vh
    background-color: #191919
    display: flex
    align-items: center
    justify-content: center

.box
    width: 350px
    height: 350px
    border: 1px solid #fff
    align-items: center
    justify-content: center
    display: flex
    // background-color: #fff

.btn
    position: absolute
    top: 0
    left: 0
    background-color: #8c8787
    border-radius: 12px
    width: 200px
    height: 60px
    cursor: pointer
