
.root
    position: relative
    width: 100vw
    height: 100vh
    background-color: #191919
    display: flex
    // align-items: center
    // justify-content: center

.box
    align-self: center
    margin: auto
    width: 550px
    height: 550px
    border: 1px solid #fff
    align-items: center
    justify-content: center
    display: flex
    // background-color: #fff

.btn
    position: absolute
    top: 0
    left: 0
    background-color: #8c8787
    border-radius: 12px
    width: 200px
    height: 60px
    cursor: pointer

.boxAbs
    top: 100px
    left: 200px
    position: absolute
    // background-color: #F2C964
    border: 2px solid #F2C964
    border-radius: 4px
    width: 100px
    height: 60px
    cursor: pointer

.blob
    position: absolute
    left: 100px