body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.holster {
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center;
  justify-content: space-between; */
  /* flex-flow: column nowrap; */
  /* font-family: monospace; */
}

.container {
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
  
  /* flex-flow: column nowrap; */
  /* display: flex; */
  /* flex: none; */
  /* overflow: auto; */
}


.container > div {
  text-align: center;
  scroll-snap-align: center;
  flex: none;

  line-height: 256px;
  font-size: 128px;
  width: 100%;
  height: 100%;
}
/* coloration */
.container > div:nth-child(even) {
  background-color: #87ea87;
}

.container > div:nth-child(odd) {
  background-color: #87ccea;
}
